*{
    font-family: Work Sans; 
}

/* NAV STYLE START */

.nav-img{
    height: 1.5rem;
    
}

.left-side, .right-side, .nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.right-side ul{
    list-style: none;
    display: flex;
}

.text-with-icon{
    display: flex;
    align-items: center;
    background: rgba(11, 2, 35, 0.10); 
    border-radius: 0.5rem;

}

.left-side h1{
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
    line-height: normal; 
}

.right-side ul li{
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    padding-right: 2rem;
}

.text-with-icon h6{
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    padding: 1.06rem 1.5rem 1.13rem 1.5rem;
    margin: 0;
}

/* NAV STYLE END */

/* BANNER 1 STYLE START */

/* .banner-1{
    display: flex;
    background-image: url("backgroud.png");
    background-size: cover;
}

.banner-1-img{
    height: 43.75rem; 
    padding-right: 4.25rem;
} */

/* .goat{
    background-image: url("images/Group 14.png");
    flex: wrap;
} */


.banner-1{
    background-image: url("backgroud.png");
    height: 43.75rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.banner-content h2{
/* #play{ */
    color: #0B0223; 
    font-weight: 600; 
    text-align: center;
    font-size: 3rem; 
    /* padding-top: 9.25rem; */
}

.banner-content h1{
/* #goat{ */
    color: #FF42A5;
    text-align: center; 
    font-size: 5.9375rem; 
    font-weight: 800; 

}

.banner-content p{
    color: #534C64; 
    font-size: 1.25rem; 
    font-weight: 500; 
}

#signin{
    border-radius: 3rem;
    background: #4EC5F7;
    display: inline-flex;
    padding: 1.3125rem 2.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    border: none;
    color: white;
    font-size: 1.25rem; 
    font-weight: 600; 
}

#rogue{
    margin-left: 1.5rem;
    border-radius: 3rem;
    background: #FF42A5;
    display: inline-flex;
    padding: 1.3125rem 2.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    border: none;
    color: white;
    font-size: 1.25rem; 
    font-weight: 600; 
}

/* .banner-1 img{

} */

.banner-1 h2{
    padding-top: 0;
}


/* BANNER 1 STYLE END */


/* --------------------------------------------------------------------------------------------------- */


/* ONLINE GAME STYLE START */

.online-game{
    text-align: center;
}

.card-collection{
    display: flex;
    justify-content: center;
}

.card{
    max-width: 22rem;
    padding: 0.75rem;
    text-align: left;
    flex-wrap: wrap;
}

.online-game h1{
    color: #0B0223; 
    font-weight: 700; 
    font-size: 3rem; 
}

.online-game p{
    color: #534C64; 
    font-size: 1.125rem; 
    font-weight: 400; 
    padding-bottom: 2.25rem;
    padding-top: 1rem;
}

.icons, .icon-card{
    display: flex;
}

.icons{
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* padding: 7rem 15.56rem; */
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

.icon-card img{
    width: 3.75rem;
    height: 3.75rem;
    flex-shrink: 0; 
}

.icon-card p{
    color: #0B0223; 
    font-size: 1.25rem; 
    font-weight: 600; 
    padding-left: 1rem;
}

.icon-card{
    padding: 1.25rem;
    border-radius: 3.125rem;
    background: #FFF;
    margin: 1.15rem;
}


/* --------------------------------------------------------------------------------------------------- */


/* PLAY SECTION START */

.play{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.writing p{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: right; 
}

.writing h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem; /* 125% */
}

/* --------------------------------------------------------------------------------------------------- */


/* FOOTER SECTION STYLE START */

.footer-logo-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;
}

.footer-list ul{
    color: #FFF; 
    display: flex;
    justify-content: center; 
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600; 

}

.footer-list ul li{
    padding-right: 3.75rem;
    list-style: none;
    padding-top: 3.94rem;
}


.footer-logo-2 ul li{
    list-style: none;
    padding-right: 2.5rem;
    padding-top: 3.5rem;
}

.footer-logo-2 ul{
    display: flex;
    justify-content: center;

}

.terms ul{
    display: flex;
    justify-content: center; 
}

.terms ul li{
    list-style: none;
    padding-right: 3.75rem;
    padding-top: 4rem;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.terms p, .copyright{
    justify-content: center;
    text-align: center;
    padding-top: 1.12rem;
    padding-bottom: 7.5rem;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.footer{
    background: #0B0223;
    /* margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; */
}
/* .copyright> p{
    padding-left: 46rem;
    padding-right: 46rem;
} */

/* FOOTER SECTION STYLE END */


